<section id="sobre-mi" class="container card">
  <div class="card-header d-flex justify-content-between">
    <h2 id="sobremi-titulo">Sobre mi</h2>
    <app-button-edit
      *ngIf="isInDashboard"
      (click)="toggleForm(true)"
    ></app-button-edit>
  </div>
  <div id="sobremi-descripcion" class="card-body">
   {{aboutText}}
  </div>
  <div *ngIf="isFormActive" class="container-form form-about">
    <div class="card p-5 rounded" >
      <button class="button-close"  (click)="toggleForm(false)">
        <div class="contenedor-button">
          <img alt="cerrar" width="50" height="50" src="../../../assets/icons8-delete.png" /> 
        </div>      
      </button>
      <h3 class="card-title">Agrega una descripcion acerca de ti</h3>
      <input
        type="text"
        placeholder="Soy una persona proactiva..."
        class="form-control"
        [(ngModel)]="about"
        required
        minlength="50"
      />
      <button
        class="btn btn-primary mt-4 w-25 m-auto"
        ((click))="submitAbout()"
        type="button"
      >
        Aceptar
      </button>
    </div>
  </div>
</section>
