.waves {
  bottom: 0;
  z-index: -1;
}
.hero {
  height: 30rem;
  z-index: 1;
  padding-top: 10rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .hero {
    padding-top: 6rem;
  }
}
.hero h2 {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  color: white;
}
.hero  p {
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  background-color: gray;
  padding: 0.3rem;
  max-width: 20rem;
  color: white;
}
.hero img {
  max-width: 10rem;
}
@media (min-width: 768px) {
  .hero img {
      max-width: 15rem;
    }
  .perfil h2 {
    font-size: 2.5rem;
  }
  .perfil p {
    font-size: 1.7rem;
  }
}
.contenedor-button:hover {
  border-radius: 100%;
  border: 1px dashed blue;
  margin: 0;
}
.button-close {
  all: unset;
  padding: 2px;
  position: absolute;
  top: -2px;
  right: 0;
}
