<div class="container-form">
  <form
    (submit)="onSubmitSkillForm($event)"
    class="form-control p-4 position-relative"
    [formGroup]="formSkills"
  >
    <span class="material-icons" (click)="makeFormInVisible()"> cancel </span>
    <div class="mt-4">
      <label class="form-label" for="nameSkill">Habilidad</label>
      <input
        formControlName="nameSkill"
        type="text"
        class="form-control"
        id="nameSkill"
      />
      <div *ngIf="nameSkill?.errors?.['required'] && nameSkill?.touched ">
        El campo es obligatorio
      </div>
    </div>
    <div class="mt-4">
      <label class="form-label" for="image">Imagen</label>
      <input
        type="file"
        accept="image/png, image/jpeg"
        class="form-control"
        id="imagen"
        formControlName="imagen"
        (change)="handleImage($event)"
      />
      <div *ngIf="imagen?.errors?.['required'] && imagen?.touched">
        El campo es obligatorio
      </div>
    </div>
    <div class="w-10" *ngIf="imgfile">
      <img [src]="imgfile" alt="imagen nueva" />
    </div>
    <div class="mt-4">
      <label class="form-label" for="percentage"
        >Porcentaje de experticia</label
      >
      <input
        formControlName="percentage"
        type="number"
        id="percentage"
        class="form-control"
      />
      <div *ngIf="percentage?.errors?.['required'] && percentage?.touched">
        El campo es obligatorio
      </div>
    </div>

    <button class="btn btn-primary text-center text-uppercase mt-2">
      Aceptar
    </button>
    <h3 class="text-center">Habilidad</h3>
  </form>
</div>
