<div class="container-form">
  <form
    (onSubmit)="onSubmitSkillForm($event)"
    class="form-control p-4 position-relative"
    [formGroup]="formSkills"
  >
    <span class="material-icons" (click)="makeFormInVisible()"> cancel </span>
    <div class="mt-4">
      <label class="form-label" for="nameSkill">Habilidad</label>
      <input
        formControlName="nameSkill"
        type="text"
        class="form-control"
        id="nameSkill"
      />
    </div>
    <div class="mt-4">
      <label class="form-label" for="image">Imagen</label>
      <input type="file" class="form-control" id="imagen" required />
    </div>
    <div class="mt-4">
      <label class="form-label" for="percentage"
        >Porcentaje de experticia</label
      >
      <input
        formControlName="percentage"
        type="number"
        id="percentage"
        class="form-control"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary text-center text-uppercase mt-2"
    >
      Aceptar
    </button>
    <h3 class="text-center">Habilidad</h3>
  </form>
</div>
