<div class="gradiente p-5 contenedor-login d-flex justify-content-center">
  <main class="container">
    <form class="card w-100 p-3" #f="ngForm" (ngSubmit)="onSubmit(f)" >
      <h1 class="card-header text-center">Iniciar Sesion</h1>
      <div class="card-body p-5">
        <div class="mb-3">
          <label for="email" class="form-label">Email </label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            ngModel
            required
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            ngModel
            required
          />
        </div>
      </div>
      <button class="btn btn-primary">Aceptar</button>
    </form>
    <p class="p-3 text-center text-sm">Ingreso a administración de Portfolio</p>
  </main>
</div>
