<section class="container mt-4" id="project">
  <h2 class="text-center text-white">Proyectos / Trabajos realizados</h2>
  <div class="d-flex justify-content-center">
    <app-buttonplus *ngIf="isInDashboard" (click)="openFormProject()"></app-buttonplus>
  </div>
  <div class="card-group mt-4" *ngIf="projects; else templateElse">
    <div class="card" *ngFor="let project of projects">
      <img
        src="{{ project.imageProject }}"
        class="card-img-top"
        alt="{{ project.nameProject }}"
      />
      <div class="card-body">
        <div *ngIf="isInDashboard" class="d-flex gap-2">
          <app-button-delete (click)="eliminar(project.id)"></app-button-delete>
          <app-button-edit (click)="editar(project)"></app-button-edit>
        </div>
        <h5 class="card-title">{{ project.nameProject }}</h5>
        <p class="card-text">
          {{ project.description }}
        </p>
        <small>{{ project.linkTo }}</small>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ project.dateOfDevelop }}</small>
        <small class="badge" *ngFor="let skill of project.skillsProject">{{
          skill
        }}</small>
      </div>
    </div>
  </div>
  <ng-template #templateElse>
    <div class="text-white text-center">No hay proyectos cargados</div>
  </ng-template>
</section>
<app-form-project
  [projectToEdit]="editProjectFrom"
  *ngIf="isFormActive"
></app-form-project>
