<section id="educacion" class="container card mt-2">
  <div class="card-header d-flex justify-content-between">
    <h2>Educación</h2>
  </div>
  <div class="card-body">
    <app-buttonplus
      (stateFormIsActive)="makeFormVisible($event)"
    ></app-buttonplus>
    <app-form-dashboard
      formSelect="education"
      *ngIf="isFormVisible"
      (stateFormIsInvisible)="makeFormInvisible($event)"
    ></app-form-dashboard>
    <ul>
      <li class="border-bottom mb-2 p-1" *ngFor="let educacion of educaciones">
        <h3>{{ educacion.name }}</h3>
        <p>{{ educacion.campus }}</p>
        <p>
          <small>{{ educacion.date | date }}</small>
        </p>
        <app-buttons [item]="educacion.id" (edicion)="editarEducacion($event)" (eliminar)="eliminarEducacion($event)" ></app-buttons>
      </li>
    </ul>
  </div>
</section>
