<section id="educacion" class="container card mt-2">
  <div class="card-header d-flex justify-content-between">
    <h2>Educación</h2>
    <app-buttonplus (click)="makeFormVisible()"></app-buttonplus>
  </div>
  <div class="card-body">
    <ul>
      <li class="border-bottom mb-2 p-1" *ngFor="let educacion of educaciones">
        <h3>{{ educacion.name }}</h3>
        <p>{{ educacion.campus }}</p>
        <p>
          <small>{{ educacion.date | date }}</small>
        </p>
        <div class="botones-acciones" *ngIf="isUrlDashboard" >
          <app-button-edit></app-button-edit>
          <app-button-delete></app-button-delete>
        </div>
      </li>
    </ul>
  </div>
</section>
