<section class="container card mt-2">
  <div class="card-header d-flex justify-content-between">
    <h2>Habilidades</h2>
    <app-buttonplus (click)="makeFormVisible(true)"></app-buttonplus>
  </div>

  <div id="skills" class="contenedor-grid">
    <div
      class="elemento-grid card efecto-glass"
      *ngFor="let habilidad of habilidades"
    >
      <img
        src="{{ habilidad.image }}"
        alt="logo {{ habilidad.name }}"
        class="card-img-top"
      />
      <h4>{{ habilidad.name }}</h4>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuemin="0"
          aria-valuemax="100"
          [ariaValueNow]="habilidad.percentage"
          [style.width.%]="habilidad.percentage"
        >
      
          {{ habilidad.percentage }}
        </div>
      </div>
      <div class="botones-acciones" *ngIf="isUrlDashboard">
        <app-button-edit></app-button-edit>
        <app-button-delete></app-button-delete>
      </div>
    </div>
  </div>
</section>
