<section class="container card mt-2">
  <div class="card-header d-flex justify-content-between">
    <h2>Habilidades</h2>
  </div>
  <app-buttonplus
    (stateFormIsActive)="makeFormVisible($event)"
  ></app-buttonplus>
  <app-form-dashboard
    formSelect="skills"
    *ngIf="isFormVisible"
    (stateFormIsInvisible)="makeFormInvisible($event)"
  ></app-form-dashboard>
  <div id="skills" class="contenedor-grid">
    <div
      class="elemento-grid card efecto-glass"
      *ngFor="let habilidad of habilidades"
    >
      <img
        src="{{ habilidad.image }}"
        alt="logo {{ habilidad.name }}"
        class="card-img-top"
      />
      <h4>{{ habilidad.name }}</h4>
      <div class="progress">
        <div class="progress-bar">
          {{ habilidad.percentage }}
        </div>
      </div>
      <app-buttons [item]="habilidad.id" (edicion)="editarSkill($event)" (eliminar)="eliminarHabilidad($event)" ></app-buttons>
    </div>
  </div>
</section>
