/* You can add global styles to this file, and also import other style files */
:root {
  --fontFirma:'Dancing Script', cursive;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
}
li, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h3 {
  font-size: 1.5rem;
}
.efecto-glass {
  box-shadow: 0 2px 10px rgba(189, 185, 185, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
#firma {
  font-family: var(--fontFirma);
}

.gradiente {
  background-image: linear-gradient(to bottom, #0d6efd, #0d6efd, #212529 );
}

.material-icons {
  position: absolute;
  padding: 0.4rem;
  top: 2px;
  right: 2px;
}
.material-icons:hover {
  border: 1px solid #b2b2b2;
  border-radius: 0.2rem;
  cursor: pointer;
}
