<div *ngIf="isDashboard" >
  <div *ngIf="formSelect === 'education'" class="mb-3">
    <form
      [formGroup]="formEducation"
      (onSubmit)="onSubmitEducationForm($event)"
      class="form-control p-4 position-relative"
    >
      <span
        class="material-icons position-absolute"
        (click)="makeFormInvisible()"
      >
        highlight_off
      </span>
      <label class="form-label" for="nameEd">Título</label>
      <input
        formControlName="nameEd"
        type="text"
        class="form-control"
        id="nameEd"
      />
      <label class="form-label" for="campus">Institución</label>
      <input
        formControlName="campus"
        type="text"
        class="form-control"
        id="campus"
      />
      <label class="form-label" for="fecha">Fecha </label>
      <input
        formControlName="date"
        type="datetime"
        class="form-control"
        id="fecha"
      />

      <button
        type="submit"
        class="btn btn-primary text-center text-uppercase mt-2"
      >
        Aceptar
      </button>
    </form>
  </div>

  <div *ngIf="formSelect === 'skills'">
    <form
      [formGroup]="formSkills"
      (onSubmit)="onSubmitSkillForm($event)"
      class="form-control p-4 position-relative"
    >
      <span class="material-icons position-absolute" (click)="makeFormInvisible()" > highlight_off </span>

      <label class="form-label" for="nameSkill">Habilidad</label>
      <input
        formControlName="nameSkill"
        type="text"
        class="form-control"
        id="nameSkill"
      />
      <label class="form-label" for="image">Imagen</label>
      <input
        formControlName="image"
        type="text"
        class="form-control"
        id="imagen"
      />
      <label class="form-label" for="percentage"
        >Porcentaje de experticia</label
      >
      <input
        formControlName="percentage"
        type="number"
        id="percentage"
        class="form-control"
      />

      <button
        type="submit"
        class="btn btn-primary text-center text-uppercase mt-2"
      >
        Aceptar
      </button>
    </form>
  </div>
</div>
