<div *ngIf="formSelect === 'education'">
  <form [formGroup]="formEducation" (onSubmit)="onSubmitEducationForm($event)">
    <input formControlName="nameEd" type="text" />

    <input formControlName="campus" type="text" />

    <input formControlName="date" type="datetime" />

    <button type="submit">
      Aceptar <span class="material-icons"> done </span>
    </button>
  </form>
</div>
<div *ngIf="formSelect === 'skills'">
  <form [formGroup]="formSkills" (onSubmit)="onSubmitSkillForm($event)">
    <input formControlName="nameSkill" type="text" />

    <input formControlName="image" type="text" />

    <input formControlName="percentage" type="number" />
    <button type="submit">Aceptar</button>
  </form>
</div>
<div></div>
