<section id="experience" class="container card mt-2">
  <h3 class="card-header">Experiencia Laboral</h3>
  <div class="card-body" *ngFor="let experience of experiences" >
    <div>
      <h4>{{experience.titulo}}</h4>
      <div>
        <p>{{experience.descripcion}}</p>
        <small>{{experience.fecha}}</small>
      </div>
      <div class="botones-acciones" *ngIf="isUrlDashboard" >
        <app-button-edit (click)="editar(experience)" ></app-button-edit>
        <app-button-delete (click)="eliminar(experience.id)" ></app-button-delete>
      </div>
    </div>
  </div>
</section>
<app-form-experience [isFormActive]="isFormActive" ></app-form-experience>


